/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,500;1,600&display=swap');
/* ----------------------------------
           common style start 
------------------------------------*/
body{
    font-family: 'Poppins', sans-serif;
     width:100%;
     height:100%;
     overflow-x: hidden;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}
li{
    list-style: none;
}
img{
    max-width: 100%;
}
.btn{
    display: inline-block;
    background: #E02C6D;;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    padding: 11px 34px;
    border-radius: 19px;
   position: relative;
   overflow: hidden;
}
.btn:hover{
    background:#bb1b56 ;
   
}
.btn::before{
    content: '';
    width: 100%;
    height: 40px;
    background: #faf5f7 !important;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-100%) rotate(45deg);
    transition: all 0.5s;
}
.btn:hover::before{
    transform: translateX(100%) rotate(45deg);
}

/* ----------------------------------
           common style end
------------------------------------*/


/*------------------------------------
          header style start
--------------------------------------- */
.header-section{
    background-color:#2d25a0 ;
    max-width: 1440px;
    height: 677px;
    justify-content: center;
    align-items: center;
}
.main-menu{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
}
.menu-left{
    display: flex;
    margin-left: 195px;
    
}
.menu-left li{
    margin-left: 35px;
}
.menu-left a{
    color:#FFFFFF;
    font-size: 16px;
    font-weight: 500;
    display: inline-block;

}
.menu-right{
    margin-right: 25px;
}
 
 
.menu-right .btn .login-icon {
    color: #FFFFFF;
    margin-right: 10px;
}
.main-banner{
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner{
    display: flex;
     margin-top: 51px;
    width: 1050px;
    height: 474px;
}
.banner .banner-left{
    width: 461px;
}
.banner .banner-left h1{
    color: #FFFFFF;
    font-size: 67px;
    line-height: 76px;
    width: 461px;
    height: 230px;
    font-weight: 700;
}


.banner .banner-right{
    margin-left: 173px;
    width: 556.01px;
    height: 438px;
}
.live-btn{
    margin-left: 8px;
    margin-top: 10px;
}


.banner .banner-right img{  
    transition: all 0.5s;
    max-width: 100%;
}
.banner .banner-right img:hover{
     transform: scale(1.1);
}
/*------------------------------------
          header style  end
--------------------------------------- */

/*------------------------------------
          blog style start
--------------------------------------- */
.blogs-section{
   display: flex;
   justify-content: center;
   margin-top: 70px;
}
article{
 
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
    width: 1050px;
    
}
.blog{
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    width: 330px;
    min-height: 474px;
    max-height: 570px;
}
.blog-img{
    text-align: center;
    margin: 15px;
}
.blog-img img{
    height: 256px;
    width: 300px;
}
.blog-info{
    padding: 0px 15px 15px 15px;
    text-align: justify;
}
.blog-info h1{
    color:#18191F ;
    font-size: 28px;
    font-weight: bold;
}
.blog-info p{
    color: #6C6C6C;
}
/*------------------------------------
          blog style end
--------------------------------------- */
/*------------------------------------
          copa-america  style start
--------------------------------------- */
.copa-america{}
.copa-america-info{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.copa-left{
    width: 469px;
    height: 309px;
    margin-top: 224px;
    margin-right: 81px;
}
.copa-left h1{
    font-size: 48px;
    font-weight: bold;
}
.copa-left p{
    color: #6C6C6C;
    font-size: 16ox;
    line-height: 28px;
}
.copa-right{
    width: 567px;
    height: 427px;
    margin-top: 165px;
}
.copa-right img{

}
/*------------------------------------
          copa-america style end
--------------------------------------- */
.VS{
    text-align: center;
}
.VS h1{
    font-size: 56px;
    font-weight: bold;
    
}
/*------------------------------------
          Match  Final style start
--------------------------------------- */
.match{
    background-color: black;
    margin-top: 60px;
    max-width: 1440px;
    padding-bottom: 30px;
    margin-bottom: 70px;
}
    
.main-match{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.Argenting{
    text-align: center;
}
.Argenting h2{
    color: #FFFFFF;
    margin-top: -30px;
}
.flag-A img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
}
.live-mathc {
    text-align: center;
    color: #FFFFFF;
}
.live-mathc h1{
    
    font-size: 43px;

}
.live-mathc h2{}
.live-mathc h3{}
.brazil{
    text-align: center;
   
}
.brazil img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
}
.brazil h2{
    color:#FFFFFF;
    margin-top: -30px;
}

/*------------------------------------
          Match  Final style end
--------------------------------------- */


/*------------------------------------
          Footer style start
          
--------------------------------------- */

footer{
   
   
}
.footer-all{
    justify-content: center;
    display: flex;
}
.footer-itame p{
  margin-top: 20px;
  margin-left: 40px;
}
.footer-logo{
    height: 58px;
    width: 270px;
}

.footer-icon{
    display: flex;
    justify-content: center;
}
.footer-icon li a{
    display: inline-block;
    margin-top: 20px;
}
.footer-icon .socal{
    height: 32px;
    width: 32px;
    background: #969BAB;
    margin-left: 20px;
    color: #dddde1;
    text-align: center;
    display: inline-block;
    border-radius: 50%;
    line-height: 35px;
}
.copy-right{
    color: #969BAB;
}
/*------------------------------------
          Footer style end
          
--------------------------------------- */
